@charset "UTF-8";
.wrapper {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
  margin: 0 32px;
}

.header {
  height: 951px;
  background: linear-gradient(180deg, #CEEDFF 0%, #F8F9F7 100%);
  position: relative;
}
.header .container .header__top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.header .container .header__top .top__logo {
  display: flex;
}
.header .container .header__top .top__logo .logo__link {
  margin-right: 48px;
}
.header .container .header__top .top__logo .logo__info {
  width: 342px;
  font-size: 12px;
  line-height: 130%;
}
.header .container .header__top .top_link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .container .header__top .top_link .link_phone {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  display: inline-block;
}
.header .container .header__top .top_link .link_call_phraze {
  display: flex;
  align-items: center;
}
.header .container .header__top .top_link .link_call_phraze .call__phraze__img {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}
.header .container .header__top .top_link .link_call_phraze .call__phraze__link {
  font-size: 12px;
  line-height: 140%;
  color: #0062AE;
}
.header .container .header__main {
  margin: 89px 0 0 135px;
}
.header .container .header__main .main__head {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: #1D1F22;
  width: 620px;
}
.header .container .header__main .main__head span {
  color: #0062AE;
}
.header .container .header__main .main__dignity_list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 44px;
}
.header .container .header__main .main__dignity_list .main__dignity_item {
  border: 1px solid #B2B7BB;
  border-radius: 10px;
  padding: 21px 10px;
  font-size: 14px;
  line-height: 170%;
  color: #000000;
  position: relative;
}
.header .container .header__main .main__dignity_list .main__dignity_item span {
  color: #F2350C;
  font-weight: 700;
}
.header .container .header__main .main__dignity_list .main__dignity_item:first-child {
  width: 176px;
  margin-right: 23px;
}
.header .container .header__main .main__dignity_list .main__dignity_item:first-child::before {
  content: "4.6";
  position: absolute;
  background: #DEF2FD;
  font-weight: 800;
  font-size: 38px;
  line-height: 170%;
  color: #F2350C;
  top: -37px;
}
.header .container .header__main .main__dignity_list .main__dignity_item:nth-child(2) {
  width: 250px;
}
.header .container .header__main .main__dignity_list .main__dignity_item:nth-child(2)::before {
  content: "7 892";
  position: absolute;
  background: #DEF2FD;
  font-weight: 800;
  font-size: 38px;
  line-height: 170%;
  color: #6B737A;
  top: -37px;
}
.header .container .header__price {
  margin: 31px 0 0 135px;
}
.header .container .header__price .price__head {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  background: #FFFDCC;
  border-radius: 10px;
  padding: 8px 14px;
  display: inline-block;
  margin: 0;
}
.header .container .header__price .price__content {
  font-size: 14px;
  line-height: 170%;
  color: #000000;
  width: 444px;
  margin-top: 12px;
  margin-bottom: 0;
}
.header .container .header__price .price__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(180deg, #6FBAFF 0%, #316FE7 100%);
  box-shadow: 0px 22.3363px 40.8754px rgba(18, 53, 86, 0.351703), 0px 6.6501px 12.1697px rgba(18, 53, 86, 0.238297);
  border-radius: 78px;
  padding: 25px 32px;
  margin-top: 14px;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}
.header .container .header__price .price__button:hover {
  background: linear-gradient(180deg, #6FD4FF 0%, #387BFE 100%);
  box-shadow: 0px 22.3363px 40.8754px rgba(23, 94, 161, 0.351703), 0px 6.6501px 12.1697px rgba(18, 53, 86, 0.238297);
  border-radius: 78px;
}
.header .container .header__price .price__button::after {
  content: "";
  background-image: url(../img/row.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -33px;
  right: -123px;
}
.header .container .header_gift {
  margin-left: 135px;
  z-index: 4;
  z-index: 2;
}
.header .container .header_gift .gift__head {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #393E43;
  margin-top: 32px;
}
.header .container .header_gift .gift__head::before {
  content: "";
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  color: red;
  margin-right: 4px;
  display: inline-block;
}
.header .container .header_gift .gift_list {
  list-style: none;
  padding-left: 0;
  display: flex;
  height: auto;
  z-index: 2;
}
.header .container .header_gift .gift_list .gift_item {
  width: 332px;
  background: white;
  padding: 12px 59px 12px 20px;
  margin-right: 20px;
  cursor: pointer;
  height: 93px;
  z-index: 2;
  border-radius: 10px;
}
.header .container .header_gift .gift_list .gift_item:last-child {
  margin-right: 0;
}
.header .container .header_gift .gift_list .gift_item .accordeon__item_triger {
  display: flex;
  align-items: center;
}
.header .container .header_gift .gift_list .gift_item .accordeon__item_triger span {
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  width: 134px;
  margin-left: 8px;
  display: inline-block;
}
.header .container .header_gift .gift_list .gift_item .accordeon__item_triger .down_caret {
  margin-left: 70px;
}
.header .container .header_gift .gift_list .gift_item .accordeon__item_content {
  display: none;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  margin-left: 87px;
  padding-bottom: 39px;
  height: auto;
  background: white;
  width: 94%;
  padding: 0 2px 24px 96px;
  margin-left: -19px;
  z-index: 2;
}
.header .header__bg {
  position: absolute;
  right: 0;
  top: 102px;
  height: 762px;
  width: auto;
  z-index: 1;
}

.quiz {
  background: white;
  text-align: center;
}
.quiz .quiz__content {
  margin: 85px 0 0 135px;
}
.quiz .quiz__content .quiz__head {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #393E43;
}
.quiz .quiz__content .quiz__text {
  font-size: 22px;
  line-height: 27px;
  color: #393E43;
}
.quiz .quiz__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 86px;
}
.quiz .quiz__action .action__left {
  width: 898px;
  background: linear-gradient(180deg, #F0F8FF 0%, #CFEEFF 100%);
  border-radius: 0px 10px 10px 0px;
  margin-right: 41px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 130px 0 32px 0;
  position: relative;
}
.quiz .quiz__action .action__left .progress_bar {
  display: flex;
  width: 815px;
  position: absolute;
  top: 30px;
  left: 0;
}
.quiz .quiz__action .action__left .progress_bar .step {
  position: absolute;
}
.quiz .quiz__action .action__left .progress_bar .step img {
  display: inline-block;
}
.quiz .quiz__action .action__left .progress_bar .step::before, .quiz .quiz__action .action__left .progress_bar .step::after {
  content: "";
  position: absolute;
  height: 22px;
  width: 120px;
  background: linear-gradient(180deg, #CFD5D9 0%, #F7F7F7 32.91%, #4D4D4D 71.97%, #CFCFCF 100%);
  top: -46px;
  left: 0;
}
.quiz .quiz__action .action__left .progress_bar .step:first-child::after {
  background: linear-gradient(180deg, #8CBADF 0%, #C5E5FF 32.91%, #0B69B3 71.97%, #84C6FB 100%);
  transform: scaleX(0);
  -webkit-animation: animate 0.3s linear forwards;
          animation: animate 0.3s linear forwards;
  transform-origin: left;
}
.quiz .quiz__action .action__left .progress_bar .step:first-child::before {
  background: linear-gradient(180deg, #8CBADF 0%, #C5E5FF 32.91%, #0B69B3 71.97%, #84C6FB 100%);
}
.quiz .quiz__action .action__left .progress_bar .step:nth-child(2) {
  left: 120px;
}
.quiz .quiz__action .action__left .progress_bar .step:nth-child(3) {
  left: 240px;
}
.quiz .quiz__action .action__left .progress_bar .step:nth-child(4) {
  left: 360px;
}
.quiz .quiz__action .action__left .progress_bar .step:nth-child(5) {
  left: 480px;
}
.quiz .quiz__action .action__left .progress_bar .step:nth-child(6) {
  left: 600px;
}
.quiz .quiz__action .action__left .progress_bar .step:last-child {
  left: 720px;
  top: -109px;
}
.quiz .quiz__action .action__left .progress_bar .step:last-child:after {
  content: none;
}
.quiz .quiz__action .action__left .progress_bar .step:last-child::before {
  content: none;
}
.quiz .quiz__action .action__left .progress_bar .step .step_check {
  position: absolute;
  top: 0;
  display: none;
}
.quiz .quiz__action .action__left .progress_bar .active::after {
  background: linear-gradient(180deg, #8CBADF 0%, #C5E5FF 32.91%, #0B69B3 71.97%, #84C6FB 100%);
  transform: scaleX(0);
  -webkit-animation: animate 0.3s linear forwards;
          animation: animate 0.3s linear forwards;
  transform-origin: left;
}
@-webkit-keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.quiz .quiz__action .action__left .form-outer {
  width: 100%;
  overflow: hidden;
}
.quiz .quiz__action .action__left .form-outer form {
  display: flex;
  align-items: center;
  width: 600%;
  margin-left: 10%;
}
.quiz .quiz__action .action__left .form-outer form .page {
  background: #FFFFFF;
  border-radius: 8px;
  width: 14%;
  margin-right: 3%;
  transition: margin-left 0.3s ease-in-out;
}
.quiz .quiz__action .action__left .form-outer form .page .title {
  padding: 28px 0 0 60px;
  width: 620px;
}
.quiz .quiz__action .action__left .form-outer form .page .title .title__head {
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #222426;
}
.quiz .quiz__action .action__left .form-outer form .page .title .title__text {
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}
.quiz .quiz__action .action__left .form-outer form .page .field {
  background: #FFFFFF;
  border: 1px solid #DDE3E8;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  margin-left: 33px;
  margin-top: 27px;
}
.quiz .quiz__action .action__left .form-outer form .page .field:nth-child(odd) {
  margin-left: 20px;
}
.quiz .quiz__action .action__left .form-outer form .page .field .field__img {
  width: 298px;
  height: 153px;
}
.quiz .quiz__action .action__left .form-outer form .page .field .field__radio {
  display: flex;
  align-items: center;
  margin: 16px 0 16px 16px;
}
.quiz .quiz__action .action__left .form-outer form .page .field .field__radio input {
  margin-right: 12px;
}
.quiz .quiz__action .action__left .form-outer form .page .field .field__radio .label {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.quiz .quiz__action .action__left .form-outer form .page .field .field_button {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(180deg, #6FBAFF 0%, #316FE7 100%);
  box-shadow: 0px 22.3363px 40.8754px rgba(18, 53, 86, 0.351703), 0px 6.6501px 12.1697px rgba(18, 53, 86, 0.238297);
  border-radius: 78px;
  padding: 16px 20px;
  margin-top: 14px;
  display: inline-block;
  align-items: center;
  transition: 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}
.quiz .quiz__action .action__left .form-outer form .page .field .field_button span {
  margin-right: 12px;
}
.quiz .quiz__action .action__left .form-outer form .page .field .field_button:hover {
  background: linear-gradient(180deg, #6FD4FF 0%, #387BFE 100%);
  box-shadow: 0px 22.3363px 40.8754px rgba(23, 94, 161, 0.351703), 0px 6.6501px 12.1697px rgba(18, 53, 86, 0.238297);
  border-radius: 78px;
}
.quiz .quiz__action .action__left .form-outer form .page .field .back {
  background: linear-gradient(180deg, #E6E6E6 0%, #B6B6B6 100%);
  box-shadow: 0px 6.6501px 12.1697px rgba(108, 108, 108, 0.238297);
  border-radius: 78px;
  display: inline-block;
}
.quiz .quiz__action .action__left .form-outer form .page .field .back img {
  transform: rotate(-180deg);
}
.quiz .quiz__action .action__left .form-outer form .page .check {
  width: 90%;
  margin-left: 32px;
}
.quiz .quiz__action .action__left .form-outer form .page .check:nth-child(odd) {
  margin-left: 32px;
}
.quiz .quiz__action .action__left .form-outer form .last_page {
  position: relative;
  z-index: 2;
}
.quiz .quiz__action .action__left .form-outer form .last_page img {
  position: absolute;
  left: -255px;
  z-index: -1;
  display: inline-block;
}
.quiz .quiz__action .action__left .form-outer form .last_page .title {
  text-align: left;
  padding-left: 32px;
}
.quiz .quiz__action .action__left .form-outer form .last_page .title .title__text {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.quiz .quiz__action .action__left .form-outer form .last_page .title .title__text span {
  color: #FF1D0F;
}
.quiz .quiz__action .action__left .form-outer form .last_page .check {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #202020;
  border: none;
  z-index: 10;
}
.quiz .quiz__action .action__left .form-outer form .last_page .check span {
  font-weight: 700;
}
.quiz .quiz__action .action__left .form-outer form .last_page .check .field__radio {
  border: none;
}
.quiz .quiz__action .action__left .form-outer form .last_page .check .input_form {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.quiz .quiz__action .action__left .form-outer form .last_page .check .input_form .text__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}
.quiz .quiz__action .action__left .form-outer form .last_page .check .input_form input {
  background: #FFFFFF;
  border: 1px solid #4A4060;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 20px;
}
.quiz .quiz__action .action__left .form-outer form .last_page .field button {
  margin-left: -26px;
  padding: 27px 32px;
  margin-top: 6px;
}
.quiz .quiz__action .action__right {
  position: relative;
  right: 0;
  border-radius: 6px;
  width: 308px;
}
.quiz .quiz__action .action__right .old_man {
  position: absolute;
  top: -175px;
  left: 35px;
  transform: rotate(5.5deg);
}
.quiz .quiz__action .action__right .right_old_man {
  height: auto;
  width: 308px;
  margin-bottom: 20px;
  background: #F5F4F0;
  padding-bottom: 16px;
}
.quiz .quiz__action .action__right .right_old_man h3 {
  padding: 15px 0 0 15px;
  margin-top: 0;
  color: #D41212;
  margin-bottom: 0;
}
.quiz .quiz__action .action__right .right_old_man h3 span {
  color: black;
}
.quiz .quiz__action .action__right .right_old_man .old_man_list {
  list-style: none;
  padding: 12px 0 0 16px;
  margin-top: 0;
}
.quiz .quiz__action .action__right .right_old_man .old_man_list .old_man_item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.quiz .quiz__action .action__right .right_old_man .old_man_list .old_man_item:last-child {
  margin-bottom: 0;
}
.quiz .quiz__action .action__right .right_old_man .old_man_list .old_man_item img {
  color: #2A7DEB;
}
.quiz .quiz__action .action__right .right_old_man .old_man_list .old_man_item span {
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  display: inline-block;
  margin-left: 8px;
}
.quiz .quiz__action .action__right .right_well {
  background: #F5F4F0;
  border-radius: 6px;
}
.quiz .quiz__action .action__right .right_well .well_text {
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  display: inline-block;
  margin: 16px 0 0 16px;
  width: 250px;
}
.quiz .quiz__action .action__right .right_well img {
  display: inline-block;
  margin: 12px auto;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer__left {
  padding: 32px 0;
  font-size: 12px;
  line-height: 130%;
  color: #393E43;
}
footer .container .footer__right {
  padding: 32px 0;
  font-size: 12px;
  line-height: 130%;
  color: #393E43;
}

.mobile__footer {
  display: none;
  position: relative;
  bottom: 0;
}
.mobile__footer .button .main_img {
  position: relative;
}
.mobile__footer .button .main_img img {
  width: 100%;
}

.mobile_popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 111, 158, 0.4), rgba(1, 111, 158, 0.4));
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 100;
}
.mobile_popup .mobile_popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 30px 10px;
}
.mobile_popup .mobile_popup__body .mobile_popup__content {
  border-radius: 10px;
  width: auto;
  height: auto;
  position: relative;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  cursor: default;
  background-color: white;
  padding: 20px;
}
@-webkit-keyframes drop {
  from {
    bottom: -900px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes drop {
  from {
    bottom: -900px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.mobile_popup .mobile_popup__body .mobile_popup__content .old_man {
  position: absolute;
  top: -175px;
  left: 35px;
  transform: rotate(5.5deg);
  display: none;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man {
  height: auto;
  width: 308px;
  margin-bottom: 20px;
  background: #F5F4F0;
  padding-bottom: 16px;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man h3 {
  padding: 15px 0 0 15px;
  margin-top: 0;
  color: #D41212;
  margin-bottom: 0;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man h3 span {
  color: black;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man .old_man_list {
  list-style: none;
  padding: 12px 0 0 16px;
  margin-top: 0;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man .old_man_list .old_man_item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man .old_man_list .old_man_item:last-child {
  margin-bottom: 0;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man .old_man_list .old_man_item img {
  color: #2A7DEB;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_old_man .old_man_list .old_man_item span {
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  display: inline-block;
  margin-left: 8px;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_well {
  background: #F5F4F0;
  border-radius: 6px;
  width: 310px;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_well .well_text {
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  display: inline-block;
  margin: 10px 28px 0 28px;
  width: 250px;
  text-align: center;
}
.mobile_popup .mobile_popup__body .mobile_popup__content .right_well img {
  display: inline-block;
  margin: 17px;
  text-align: center;
}
.mobile_popup .mobile_popup__body .continue_button {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(180deg, #6FBAFF 0%, #316FE7 100%);
  box-shadow: 0px 22.3363px 40.8754px rgba(18, 53, 86, 0.351703), 0px 6.6501px 12.1697px rgba(18, 53, 86, 0.238297);
  border-radius: 78px;
  padding: 16px 72px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  align-items: center;
  transition: 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 111, 158, 0.4), rgba(1, 111, 158, 0.4));
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 100;
}
.popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup .popup__body .popup__content {
  background: #FFFFFF;
  border-radius: 10px;
  width: 641px;
  height: 421px;
  padding: 0 30px 30px 30px;
  position: relative;
  -webkit-animation-name: animatrix;
          animation-name: animatrix;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  cursor: default;
}
@-webkit-keyframes animatrix {
  from {
    top: -900px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatrix {
  from {
    top: -900px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.popup .popup__body .popup__content .popup__close {
  position: absolute;
  top: 13px;
  right: 13px;
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.popup .popup__body .popup__content .popup__close:hover {
  color: #D74C4C;
}
.popup .popup__body .popup__content .popup__title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  margin-top: 42px;
}
.popup .popup__body .popup__content form {
  width: 500px;
  margin: 42px auto 0;
}
.popup .popup__body .popup__content form input[type=text] {
  display: block;
  width: 100%;
  border: 1px solid #4A4060;
  padding: 20px;
  text-align: left;
  color: black;
  outline: none;
  margin-bottom: 32px;
  background: #FFFFFF;
  border-radius: 6px;
}
.popup .popup__body .popup__content form input[type=text]::-moz-placeholder {
  padding: 12px 0 12px 0px;
}
.popup .popup__body .popup__content form input[type=text]:-ms-input-placeholder {
  padding: 12px 0 12px 0px;
}
.popup .popup__body .popup__content form input[type=text]::placeholder {
  padding: 12px 0 12px 0px;
}
.popup .popup__body .popup__content form input[type=submit] {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(180deg, #6FBAFF 0%, #316FE7 100%);
  box-shadow: 0px 22.3363px 40.8754px rgba(18, 53, 86, 0.351703), 0px 6.6501px 12.1697px rgba(18, 53, 86, 0.238297);
  border-radius: 78px;
  padding: 16px 32px;
  margin-top: 14px;
  display: inline-block;
  transition: 0.3s;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}
.popup .popup__body .popup__content form input[type=submit]:hover {
  background: linear-gradient(180deg, #6FD4FF 0%, #387BFE 100%);
  box-shadow: 0px 22.3363px 40.8754px rgba(23, 94, 161, 0.351703), 0px 6.6501px 12.1697px rgba(18, 53, 86, 0.238297);
  border-radius: 78px;
}
.popup .popup__body .popup__content .popup_rules {
  margin: 32px auto 0;
  text-align: center;
}
.popup .popup__body .popup__content .popup_rules .rules_text {
  font-size: 12px;
  line-height: 140%;
  color: #909090;
}
.popup .popup__body .popup__content .popup_rules .rules_link {
  color: #0062AE;
}